<div class="main" style="width: 100%;">
  <div class="form-mail" style="width: 680px; margin: 0 auto;">
    <table class="headTable" style="margin-top:0px;border:none;width:100%">
      <tbody>
        <tr>
          <td style="border: 0px; text-align: left;">
            <a href="https://solarmon.echedge.vn" target="_blank">
              <img style="width: 120px;" src="#{logo}" />
            </a>
          </td>
        </tr>

        <tr>
          <td style="border: 0px;">
            <p style="text-align: left; margin-top: 10px;">Xin chào, #{full_name}</p>
          </td>
        </tr>

        <tr>
          <td style="border: 0px ;">
            <p style="margin-top: 10px;">
              solarmon.echedge.vn đã nhận được yêu cầu thay đổi mật khẩu của quý khách.
            </p>
          </td>
        </tr>

        <tr>
          <td style="border: 0px ;">
            <p style="margin-top: 10px;">
              Xin hãy click vào đường dẫn sau để đổi mật khẩu: 
              <a  target="_blank" style="background: #009a84; color: #ffffff; padding: 5px 30px; border-radius: 3px; text-decoration: none; font-weight: bold;" href="#{link}">Đặt lại mật khẩu</a>
            </p>
          </td>
        </tr>

        <tr>
          <td style="border: 0px ;">
            <p style="margin-top: 10px;">
              Lưu ý: link chỉ có hiệu lực trong vòng 60 phút.
            </p>
          </td>
        </tr>

        <tr>
          <td style="border: 0px ;">
            <p style="margin-top: 10px;">
              Nếu nút ở trên không có tác dụng với bạn, hãy sao chép và dán phần sau vào thanh địa chỉ của trình duyệt của bạn:
            </p>
            <p>
             #{link}
            </p>
          </td>
        </tr>

        <tr>
          <td style="border: 0px ;">
            <p style="margin: 0; padding: 0;"></p>
              Trân trọng,
            </p>
            <p style="margin: 0; padding: 0; font-weight: bold;">
              Solarmon.echedge.vn
            </p>
          </td>
        </tr>


        <tr>
          <td style="border: 0px ;">
            <p style="margin-top: 30px; color: #888;">
              Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng liên hệ với chúng tôi.
            </p>
          </td>
        </tr>

        

        <tr>
          <td style="border: 0px ;">
            <p style="color: #888; text-align: justify;">
              Mọi thắc mắc và góp ý vui lòng liên hệ với Solarmon.echedge.vn qua email: solarmon@techedge.vn hoặc số điện thoại 096 666 0127 (8-21h kể cả T7, CN).
            </p>
          </td>
        </tr>

        <tr>
          <td style="border: 0px ;">
            <p style="color: #888; text-align: justify;">
              Email này được gửi bởi Solarmon.echedge.vn. Bạn nhận được email này vì bạn đã đăng ký trên Solarmon.echedge.vn bằng địa chỉ email này.
            </p>
          </td>
        </tr>

        <tr>
          <td style="border: 0px;">
            <p style="color: #888;">
              Bản quyền © 2021 Focustech, Ltd. Đã đăng ký Bản quyền.
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>